/* Content_article CSS */
.content_article {
    width: 100%;
    height: 1040px;
    float: left;
    box-sizing: border-box;
}

.content_article .title {
    text-align: center;
    font-size: 40px;
    background-color: #8bc1aa;
    margin: 10px 0 20px 0;
    border-radius: 25px;
    padding: 2px 0;
}

.content_article .book {
    position: relative;
    height: 14.9%;
    box-sizing: border-box;
    padding-right: 2px;
    padding-top: 4px;
    margin-bottom: 15px;
    background-color: white;
    border: solid 1px #ccc;
}

.content_article .book1::after {
    position: absolute;
    transform: rotate(345deg);
    text-align: center;
    content: "40%";
    width: 60px;
    height: 30px;
    font-size: 25px;
    color: red;
    bottom: 3px;
    left: 64px;
    background-color: orange;
    border-radius: 50px 20px 50px 20px;
    border: dashed 1.5px;
}

.content_article .book1::after {
    position: absolute;
    transform: rotate(345deg);
    text-align: center;
    content: "40%";
    width: 60px;
    height: 30px;
    font-size: 25px;
    color: red;
    bottom: 3px;
    left: 64px;
    background-color: orange;
    border-radius: 50px 20px 50px 20px;
    border: dashed 1.5px;
}

.content_article .book2::after {
    position: absolute;
    transform: rotate(345deg);
    text-align: center;
    content: "80%";
    width: 60px;
    height: 30px;
    font-size: 25px;
    color: red;
    bottom: 3px;
    left: 64px;
    background-color: orange;
    border-radius: 50px 20px 50px 20px;
    border: dashed 1.5px;
}

.content_article .book3::after {
    position: absolute;
    transform: rotate(345deg);
    text-align: center;
    content: "53%";
    width: 60px;
    height: 30px;
    font-size: 25px;
    color: red;
    bottom: 3px;
    left: 64px;
    background-color: orange;
    border-radius: 50px 20px 50px 20px;
    border: dashed 1.5px;
}

.content_article .book4::after {
    position: absolute;
    transform: rotate(345deg);
    text-align: center;
    content: "5%";
    width: 60px;
    height: 30px;
    font-size: 25px;
    color: red;
    bottom: 3px;
    left: 64px;
    background-color: orange;
    border-radius: 50px 20px 50px 20px;
    border: dashed 1.5px;
}

.content_article .book5::after {
    position: absolute;
    transform: rotate(345deg);
    text-align: center;
    content: "10%";
    width: 60px;
    height: 30px;
    font-size: 25px;
    color: red;
    bottom: 3px;
    left: 64px;
    background-color: orange;
    border-radius: 50px 20px 50px 20px;
    border: dashed 1.5px;
}

.content_article .book a img {
    width: 140px;
    height: 145px;
    float: left;
}

.content_article .book .bookname {
    font-size: 20px;
    margin: 0 0 6px 0;
    letter-spacing: 0.5px;
}

.content_article .book .bookcontent {
    margin: 0;
    font-size: 15px;
    letter-spacing: 0.5px;
}



/* End Content_article CSS */