/* Content_article CSS */
.content_article {
    width: 100%;
    height: 310px;
    float: left;
    box-sizing: border-box;
    margin-bottom: 33px;
}

.content_article .title {
    text-align: center;
    font-size: 38px;
    background-color: #fbdc9a;
    margin: 10px 0 20px 0;
    border-radius: 25px;
    padding: 2px 0;
}

.content_article .book {
    height: 59%;
    width: 31%;
    box-sizing: border-box;
    padding-right: 2px;
    padding-top: 4px;
    margin-bottom: 15px;
    background-color: white;
    border: solid 1px #ccc;
    border-radius: 20px 0 30px 0;
    float: left;
    margin: 0 10px 5px 0;
}

.content_article .book a img {
    width: 101%;
    height: 145px;
    border-radius: 20px;
}

.content_article .book .bookpice {
    font-size: 20px;
    margin: 0 0 6px 0;
    letter-spacing: 0.5px;
}

.content_article .book p {
    text-align: center;
    margin: 0;
    color: orange;
}

.content_article .seemore {
    float: left;
    margin-top: 10px;
    width: 451px;
    height: 28px;
    background-color: #e4c7c6;
    border-radius: 9px;
    border: none;
    text-align: center;
}

.content_article .seemore a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: 300;
}

.content_article .seemore a:hover {
    color: teal;
}

.content_article .seemore a:active {
    font-size: 20px;
}


/* End Content_article CSS */