/* Content_article CSS */
.content_article {
    width: 450px;
    margin: 0 auto;
}

/* IMG CSS */
.content_article .img {
    width: 100%;
    height: 258px;
    text-align: center;
    position: relative;
}

.content_article .img img {
    width: 250px;
    height: 250px;
    border: solid 1px #ccc;
    border-radius: 10px;
}

.content_article .img::after {
    position: absolute;
    content: "25%";
    width: 74px;
    height: 34px;
    font-size: 28px;
    color: red;
    top: 160px;
    left: 58px;
    background-color: orange;
    border-radius: 50px 4px 50px 4px;
    border: dashed 1.5px;
    padding: 2px;
}

/* End IMG CSS */

/* Infor of book CSS */
.content_article .info {
    width: 100%;
    height: 240px;
    margin-top: 3px;
}

.content_article .info .bookname {
    text-align: center;
    margin: 0 0 6px 0;
    font-size: 28px;
    font-weight: 500;
    font-family: sans-serif;
}

.content_article .info .info_items .info_item .name {
    width: 50%;
    float: left;
}

.content_article .info .info_items .info_item .contain {
    width: 50%;
    float: left;
}

.content_article .info .info_items p {
    margin: 4px 0;
    border-bottom: solid thin #f3f3f3;
}

/* End Infor of book CSS */

/* Button to buy book CSS */
.content_article .btnsell {
    width: 100%;
    height: 69px;
}

.content_article .btnsell .btn {
    height: 51px;
    background: #ff7600;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    box-shadow: 1px 5px 6px #ad6d0e;
}

.content_article .btnsell .add {
    width: 58%;
}

.content_article .btnsell .add:focus {
    outline: none;
}

.content_article .btnsell .add:active {
    font-size: 14.5px;
}

.content_article .btnsell .sell {
    width: 40%;
}

.content_article .btnsell .sell:focus {
    outline: none;
}

.content_article .btnsell .sell:active {
    font-size: 14.5px;
}

/* End Button to buy book CSS */

/* Descriptions about the book CSS */
.content_article .descriptions {
    border-top: solid thin grey;
    border-bottom: solid thin grey;
    letter-spacing: 0.9px;
    padding: 4px;
    border-radius: 12px;
}

.content_article .descriptions .title {
    font-size: 16px;
    margin-bottom: 0;
}

.content_article .descriptions .content {
    font-size: 15px;
    margin: 7px 0 0 0;
}

/* End Descriptions about the book CSS */

/* End Content_article CSS */